<!DOCTYPE html>
<html>
<head>
  <title>Application server management</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "application_server_management/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
