<div id="<%= dom_id application_server %>">
  <p>
    <strong>Name:</strong>
    <%= application_server.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= application_server.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application_server.description %>
  </p>

</div>
