<h1>Editing application server</h1>

<%= render "form", application_server: @application_server %>

<br>

<div>
  <%= link_to "Show this application server", @application_server %> |
  <%= link_to "Back to application servers", application_servers_path %>
</div>
